body {background-color: #F5C9C9; font-family: "Segoe UI", Arial, sans-serif; height: 100%; margin: 0; padding: 0; color: black;}
article {padding: 10px;}

table {border-collapse: collapse;}
td, th {border: 2px solid #90A9CF; padding: 5px;}

.r1 {background-color: #B37876;}
.r2 {background-color: #8F5D50;}

#pfphead {width: 75px; height: 75px; float: left;}
header {background-color: #3F426E; color: #90A9CF; padding: 5px;}
header h1, h3 {text-align: center;}
h2 {color: #3F426E;}

#disclaimer {font-size: 8px;}

.flexer {display: flex; flex-wrap: wrap;}
